*{
    margin: 0;
    padding: 0;
}
body{

    padding: 50px 140px;
  
}




.textn{
    padding-top:140px;
    padding-bottom: 120px;
    margin-bottom: 50px;
    border-radius: 16px;
    color: white;
    text-align: center;
    justify-content: center;
    background-image: url('../resources/Banner\ Image.png');
    background-size: cover;
 }
 #wish{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 25px;
font-weight: 400;

 }
 #cele{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 700;
    line-height: 95px; 

 }

 .off{
 color: rgb(239, 6, 6);
text-align: center;
font-size: 30px;
font-weight: 400;
margin-bottom: 10px;

 }
 .redline{
    color: #F00;
text-align: center;
font-size: 15px;
font-weight: 500;

 }
 .redline2{
color: #070211;
text-align: center;
font-family: Inter;
font-size: 24px;
font-weight: 700;
margin-bottom: 15px;


 }
 .pngimg{

    color: #070211;
    text-align: center;
    margin-bottom: 15px;
    

 
 }
 .banner{
    height: 400px;

    margin-top: 50px;
    padding: 20px;
    background-color: #070211;
    background-image: url('../resources/Vectorrr.png');
    border-radius: 16px;
    background-size: cover;
 }
 .bannercontants{
    height: 400px;
    width: 60%;
    color: #f6f4f4;
    padding: 50px;



 }
 .para{
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
 }


.welcome{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px; 
letter-spacing: 7.04px;
}
#firstjoin{
    background: transparent;
    border: 0;
    color: white;
    padding: 30px;
}
#third{
    padding: 20px;
   
   border-radius: 16px;
 
}
.textt{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 32px;
width: 60%;


}
.redline3{
    color: #F00;
font-family: Inter;
font-size: 10px;

font-weight: 500;

}
.header3{
color: #070211;
font-family: Merriweather;
font-size: 25px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;


}
.fifthbanner{

    background-color: #7f7495;
    align-items: center;
    border-radius: 16px;
    text-align: center;
    padding: 50px;
background: rgba(255, 0, 0, 0.05);
}
.fifthimg{
    
    width: 100px;
    padding-top: 50px;
    
    flex-shrink: 0;
    align-self: center;
    
}
.fifthh{
    color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 30px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;

}
.fifthp{
    padding:22px 220px;

    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */

}
.subscribeinput{
    height: 30px;
    background-color:white;
  
   margin:0px 350px ;
   border-radius: 16px;
   display: flex;
     

}
.subbtn{

    width: 100%;
    display: flex;
    justify-content: space-between;
  
    
}
#inpute{
    border-radius: 16px 0px 0px 16px;
    padding-left: 10px;
   
    height: 100%;
    border: 0;
}
#inputbtn{
    width: 30%;
    height: 100%;
    background-color: #F00;
    color: #FFF;
    border: 0;
    border-radius: 0px 16px 16px 0px;
    text-decoration: none;
}
footer{
    border-radius: 16px;
    text-align: center;

    margin-top: 50px;
    background: #070211;
}
hr{

    margin: 60px;
  
   
    
}
.foot1{
    
    display: flex;
    justify-content:space-between;
    padding: 30px 100px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
}
.footerinfo{
    font-size: 15px;
}
.foot2 img{
margin: 10px;
 
   


}


.colimg1{
    display: flex;
    justify-content: space-around;
    border-radius: 16px 16px;
}
.rec{
    padding: 5px;
}
.rec:hover{

 
   background-color: rgba(233, 241, 140, 0.445);
   border-radius: 16px;

    
    cursor: pointer;
}
button:hover{
    cursor: pointer;
    
    font-weight: bold;


}
#firstjoin:hover{
    
    font-size: medium;

  
}


.extra1,.bonus{
    display: flex;
    background: #d2cdd0;
    height: 300px;
    margin-top: 50px;
    border-radius: 16px;
}


.extra2{
  
  margin: auto;
   
  
   
    

    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
   
    text-transform: capitalize;

    

   
}
.extra1 span{
    color: #F00;
}
.extra1 button{
    background-color: red ;
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    margin: 20px;
}
#tt{
    color: #F00;
    font-family: Inter;
    font-size: 12px;

}
#t2{
    color: #070211;

    font-family: Merriweather;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.t3{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 400;

}
.imgb{
    padding: 50px;
    border: 6px solid red;
    border-radius: 50%;
   
}
#t4{
    color: #F00;
}
.text1b,.imgb,.text2b{
    padding: 40px;
}
.bonus{
    height: fit-content;
    align-items: center;
    padding: 50px;
}